DATABASE_URL=postgresql://proveedores:proveedores123@db:5432/ms_proveedores
DEBUG=true

MS_AUTENTICACION_URL=http://localhost:8000
MS_ROLES_URL=http://localhost:8002
MS_NOTIFICACIONES_URL=http://localhost:8003
MS_AUDITORIA_URL=http://localhost:8004

APP_TOKEN=prv_token_dev_12345
