annotated-doc
annotated-types
anyio
bcrypt
click
fastapi
h11
idna
peewee
psycopg2-binary
pydantic
pydantic_core
PyJWT
starlette
typing-inspection
typing_extensions
uvicorn
python-dotenv
python-multipart
httpx
